extends layout

block content
  #resultCont
    .resultSide
      .hidden
        h1 HOPE.
        h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
      img(class='title-image', src='/images/title.png')
      #searchBoxCont
        input(type="search", placeholder="Ex. https://github.com/HackaIran/HOPE",value=data.repositoryUrl)
        div
          i
      #scoreResultCont
        div
          span.highlight "#{data.repositoryUrl.split('/').pop()}"
          span  Health:
        div#scoreCont
          div#scoreText(class=data.scoreColor) #{data.scoreText}
          span#score(class=data.scoreColor) #{mark}
          span /100

    .resultSide
      h2
        span.highlight "#{data.repositoryUrl.split('/').pop()}"
        span  Tips:
      #tipsCont
        #tipsSlideCont
          each val,index in data.result
            .tip
              i.tipType(class=val.status.toLowerCase())
              .tipContent
                .tipHeading
                  = val.type
                a.tipHelp(href="#")
                .tipText 
                  = val.message
              a.tipFix.soon(href="#")
block script
  script.
    let scrollAnimate = new window.ScrollAnimate();
    window.test.inititaEvents();