extends layout

block content
  #resultCont
    .resultSide
      h1 HOPE.
      h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
      #searchBoxCont
        input(type="search",placeholder="Ex.https://github.com/HackaIran/HOPE")
        div
          i
      #scoreResultCont
        div
          span.highlight "HackaPanel"
          span  Health:
        div#scoreCont
          div#scoreText(class=data.scoreColor) #{data.scoreText}
          span#score(class=data.scoreColor) #{mark}
          span /100

    .resultSide
      h2
        span.highlight "HackaPanel"
        span  Tips:
      #tipsCont
        #tipsSlideCont
          each val,index in data.result
            .tip
              i.tipType(class=val.status.toLowerCase())
              .tipContent
                .tipHeading
                  = val.type
                a.tipHelp(href="#")
                .tipText 
                  = val.message
              a.tipFix(href="#")
block script
  script.
    let scrollAnimate = new window.ScrollAnimate();